# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2

defaults: &defaults
  working_directory: ~/repo

  steps:
    - checkout

    # Download and cache dependencies
    - restore_cache:
        keys:
        - v1-dependencies-{{ checksum "package-lock.json" }}
        # fallback to using the latest cache if no exact match is found
        - v1-dependencies-

    - run: npm install

    - save_cache:
        paths:
          - node_modules
        key: v1-dependencies-{{ checksum "package-lock.json" }}
      
    # run tests!
    - run: npm run lint

jobs:
  node-v6:
    <<: *defaults
    docker:
      - image: circleci/node:6@sha256:cb18c0cf3b2d781342a84d051f1d2cfbe886d15083d5ca92de1a2ebabbb74210
  node-v8:
    <<: *defaults
    docker:
      - image: circleci/node:8@sha256:f14878f1d311c428c33cbcea6b540eaf10562e8470b35fe01d7e8c22f365ee6f
  node-v10:
    <<: *defaults
    docker:
      - image: circleci/node:10@sha256:4f5c2e77166a2feed8bd6d5e2474943fee270784b1098ff54b4938efc7a3038c

workflows:
  version: 2
  multiple_builds:
    jobs:
      - node-v6
      - node-v8
      - node-v10
