name: License

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  analyze:
    name: Analyze the licenses
    runs-on: ubuntu-latest
    steps:
      - uses: Kesin11/actions-timeline@1c2ab3f28225878ae4dd1f76d31279f16ea29e29 # v2
      - name: Check out repository
        uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
      - name: Use Node.js 18.x
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Check licenses
        run: |
          pnpm license:analyze
