name: License

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  analyze:
    name: Analyze the licenses
    runs-on: ubuntu-latest
    steps:
      - uses: Kesin11/actions-timeline@da70beff098ff89b15d279e8bf2f60519a8dadd7 # v2
      - name: Check out repository
        uses: actions/checkout@v6
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          cache: "pnpm"
        # To avoid setup-node cache failure.
        # ref. https://github.com/actions/setup-node/issues/1137
      - name: create pnpm cache directory
        shell: bash
        run: mkdir -vp $(pnpm store path --silent)

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Check licenses
        run: |
          pnpm license:analyze
