name: License

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  licensed:
    name: Analyze and extract licenses
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v2

      - name: Use Node.js 18.x
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Check licenses
        run: |
          npx license-manager analyze
          npx license-manager extract
