name: lint

on:
  push:
    branches:
      - master
      - "renovate/**"
  pull_request:

jobs:
  lint:
    name: Node.js ubuntu-latest 18.x
    runs-on: ubuntu-latest
    steps:
      - uses: Kesin11/actions-timeline@1c2ab3f28225878ae4dd1f76d31279f16ea29e29 # v2

      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v3

      - uses: actions/setup-node@v4
        with:
          node-version: "18"
          cache: "pnpm"

      - run: pnpm install --frozen-lockfile
      - run: pnpm build
      - run: pnpm lint
