
name: lint

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  build:
    name: Node.js ubuntu-latest 12.x
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 12.x
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: yarn install, and yarn lint
      run: |
        yarn install
        yarn lint
      env:
        CI: true