# WARNING: When you rename a workflow filename, remember to update the Trusted Publishing settings as well.
# - https://www.npmjs.com/package/@kintone/webpack-plugin-kintone-plugin/access
# - https://www.npmjs.com/package/@kintone/plugin-uploader/access
# - https://www.npmjs.com/package/@kintone/create-plugin/access
# - https://www.npmjs.com/package/@kintone/plugin-manifest-validator/access
# - https://www.npmjs.com/package/@kintone/plugin-packer/access
# - https://www.npmjs.com/package/@kintone/customize-uploader/access
# - https://www.npmjs.com/package/@kintone/dts-gen/access
# - https://www.npmjs.com/package/@kintone/rest-api-client/access
# - https://www.npmjs.com/package/@kintone/eslint-plugin/access
# - https://www.npmjs.com/package/@kintone/rest/access
# ref. https://docs.npmjs.com/trusted-publishers

name: Release
on:
  push:
    branches:
      - main

jobs:
  release:
    name: Create release
    outputs:
      releases_created: ${{ steps.release.outputs.releases_created }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@v2
        id: create-iat
        with:
          app-id: ${{ secrets.RELEASE_GITHUB_APP_ID}}
          private-key: ${{ secrets.RELEASE_GITHUB_APP_KEY }}
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4
        id: release
        with:
          token: ${{ steps.create-iat.outputs.token }}

  publish:
    name: Publish to npm
    permissions:
      contents: read
      id-token: write # Required for OIDC authn and npm provenance
    runs-on: ubuntu-latest
    needs: release
    if: ${{ needs.release.outputs.releases_created == 'true' }}
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"
          cache: "pnpm"
        # To avoid setup-node cache failure.
        # ref. https://github.com/actions/setup-node/issues/1137
      - name: create pnpm cache directory
        shell: bash
        run: mkdir -vp $(pnpm store path --silent)

      # Ensure npm 11.5.1 or later is installed
      # ref. https://docs.npmjs.com/trusted-publishers#github-actions-configuration
      - run: npm install -g npm@latest
      - run: pnpm install --frozen-lockfile
      - run: pnpm build
      - run: pnpm -r publish --access public
        env:
          NPM_CONFIG_PROVENANCE: true

  actions-timeline:
    needs: [publish]
    if: ${{ !cancelled() }}
    runs-on: ubuntu-latest
    steps:
      - uses: Kesin11/actions-timeline@da70beff098ff89b15d279e8bf2f60519a8dadd7 # v2
