
name: test

on:
  push:
    branches:
      - master
      - 'renovate/**'
  pull_request:

jobs:
  build:

    name: Node.js ${{ matrix.os }} ${{ matrix.node-version }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x]
        os: [ubuntu-latest, windows-latest]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - name: yarn install, and yarn test
      run: |
        yarn install --network-timeout 900000
        yarn build
        yarn test:ci
      env:
        CI: true
