name: test

on:
  push:
    branches:
      - main
      - "renovate/**"
  pull_request:

jobs:
  test:
    name: Node.js ${{ matrix.os }} ${{ matrix.node-version }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - run: git config --global core.autocrlf false
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"
        # To avoid setup-node cache failure.
        # ref. https://github.com/actions/setup-node/issues/1137
      - name: create pnpm cache directory
        shell: bash
        run: mkdir -vp $(pnpm store path --silent)

      - run: pnpm install --fetch-timeout 900000 --frozen-lockfile
      - run: pnpm build
      - run: pnpm test:ci

  actions-timeline:
    needs: [test]
    runs-on: ubuntu-latest
    if: ${{ !cancelled() }}
    steps:
      - uses: Kesin11/actions-timeline@da70beff098ff89b15d279e8bf2f60519a8dadd7 # v2
