name: test e2e

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test-e2e:
    name: Node.js ${{ matrix.os }} ${{ matrix.node-version }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version: [18.x, 20.x]
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - run: git config --global core.autocrlf false
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"

      - run: pnpm install --fetch-timeout 900000 --frozen-lockfile
      - run: pnpm build
      - run: pnpm test:e2e

  actions-timeline:
    needs: [test-e2e]
    runs-on: ubuntu-latest
    if: ${{ !cancelled() }}
    steps:
      - uses: Kesin11/actions-timeline@1c2ab3f28225878ae4dd1f76d31279f16ea29e29 # v2
