name: test e2e

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-e2e:
    name: Node.js ${{ matrix.os }} ${{ matrix.node-version }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - run: git config --global core.autocrlf false
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"
        # To avoid setup-node cache failure.
        # ref. https://github.com/actions/setup-node/issues/1137
      - name: create pnpm cache directory
        shell: bash
        run: mkdir -vp $(pnpm store path --silent)

      - name: Checkout kintone/rest-api-spec
        uses: actions/checkout@v6
        with:
          repository: kintone/rest-api-spec
          ref: main
          path: rest-api-spec

      - name: Start mock server
        shell: bash
        run: |
          pnpm dlx @stoplight/prism-cli@5.12.0 mock rest-api-spec/kintone/$(ls rest-api-spec/kintone | sort | tail -n 1)/openapi.yaml &
          pnpm dlx wait-on -t 180s tcp:127.0.0.1:4010

      - run: pnpm install --fetch-timeout 900000 --frozen-lockfile
      - run: pnpm build
      - run: pnpm test:e2e

  actions-timeline:
    needs: [test-e2e]
    runs-on: ubuntu-latest
    if: ${{ !cancelled() }}
    steps:
      - uses: Kesin11/actions-timeline@da70beff098ff89b15d279e8bf2f60519a8dadd7 # v2
