name: test e2e

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-e2e:
    name: Node.js ${{ matrix.os }} ${{ matrix.node-version }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version: [18.x, 20.x]
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout kintone/rest-api-spec
        uses: actions/checkout@v4
        with:
          repository: kintone/rest-api-spec
          ref: main
          path: rest-api-spec

      - name: Start mock server
        run: |
          npx prism mock rest-api-spec/kintone/$(ls rest-api-spec/kintone | sort | tail -n 1)/openapi.yaml &
          npx wait-on -t 60s tcp:127.0.0.1:4010

      - run: git config --global core.autocrlf false
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"

      - run: pnpm install --fetch-timeout 900000 --frozen-lockfile
      - run: pnpm build
      - run: pnpm test:e2e

  actions-timeline:
    needs: [test-e2e]
    runs-on: ubuntu-latest
    if: ${{ !cancelled() }}
    steps:
      - uses: Kesin11/actions-timeline@da70beff098ff89b15d279e8bf2f60519a8dadd7 # v2
